@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

/* #ccff00 - yellow, #00f0ff - cyan, #ff00e5 - magenta */

.body {
    background-color: #0D0D0F;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Space Grotesk', sans-serif;
}

p {
    font-size: 16px;
}

.description-text {
    text-align: center;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    color: white;
    margin: 30px 2%;
}

/* about me n projects */

#container-about {
    background-image: linear-gradient(to top, #0D0D0F, #ccff00, #0D0D0F, #0D0D0F);
    flex-wrap: row;
}

#container-projects {
    background-image: linear-gradient(to right, #ff00e5, #0D0D0F, #0D0D0F);
    flex-wrap: wrap;
}

.content-container {
    font-family: 'Manrope', sans-serif;
    padding: 21px 2%;
    margin: 21px;
    /*background-image: linear-gradient(to top, #ccff00, #0D0D0F, #0D0D0F, #00f0ff);*/
    display: flex;
    gap: 21px;
    justify-content: center;
    align-items: center;
}

.content-about {
    background-color: #0D0D0F;
    padding: 21px;
    width: 50%;
}

.content-projects {
    background-color: #0D0D0F;
    font-family: 'Manrope', sans-serif;
    border: solid white 1px;
    padding: 15px;
    width: 250px;
}

.date {
    color: #ccff00;
}

#about-left {
    text-align: center;
}

#about-right {
    text-align: justify;
}

/* contact me */

.email-container {
    background: radial-gradient( #00f0ff, #0D0D0F, #0D0D0F);
    padding: 21px 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 21px;
    gap: 21px;
}

.input-container {
    display: flex;
    gap: 21px;
}

input {
    width: 186px;
    background: black;
    border: solid white 1px;

    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    padding: 12px;
}

textarea {
    background: #0D0D0F;
    border: solid white 1px;

    color: white;
    font-size: 16px;
    width: 420px;
    height: 210px;
    resize: none;
    padding: 12px;
    font-family: 'Manrope', sans-serif;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 120px;
    height: 54px;
    border: none;
    background-color: white;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    color: #0D0D0F;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

button:hover {
    background-color: #ff00e5;
    color: white;
}