.main-text{
    font-size: 96px;
    font-weight: bold;
    color: white;
}

.secondary-text {
  background: linear-gradient(0.25turn, #00ff9d, #ebf8e1, #cf5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
    width: 191px;
    height: 56px;
    border: none;
    background-color: #00ff9d;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cf5cff;
}

.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}