@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

/* #ccff00 - yellow, #00f0ff - cyan, #ff00e5 - magenta */

/* Main */

.main-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    margin: 25px 2%;
    position: relative;
    overflow: hidden;
}

.blur-background {
    position: absolute;
    inset: 0; /* Shorthand for top/bottom/left/right: 0 */
    background: linear-gradient(to right, #0D0D0F, #0D0D0F, #0D0D0F, #0D0D0F, #0D0D0F, #00f0ff, #ccff00, #ff00e5);
    filter: blur(50px);
}

.main-text{
    position: relative;
    font-size: 96px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    text-shadow: 3px 3px 0px #ff00e5;
    /*background: linear-gradient(0.25turn, #ccff00, #00f0ff, #ff00e5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);*/

}

/* Description */

/* unused */
/*.secondary-text {
    background: linear-gradient(0.25turn, #00ff9d, #ebf8e1, #cf5cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

.description-container {
    margin-top: 30px;
    text-align: center;
    font-family: "Manrope", sans-serif;
}

#description {
    font-size: 16px;
    color: white;
}

#welcome {
    color: #ccff00;
    font-weight: bold;
}

/* Buttons */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 120px;
    height: 54px;
    border: none;
    background-color: #00f0ff;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    color: #0D0D0F;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.btn:hover {
    background-color: #ff00e5;
    color: white;
}

.btn-container {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}