.containe-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}